form {
  display: flex;
  flex-direction: column;
  margin: auto;
  animation: down ease-in-out 1s;
}

textarea {
  height: 200px;
}

button {
  height: 64px;
  width: 64px;
  border-radius: 32px;
  margin: auto;
}

.mat-icon {
  padding-bottom: 3px;
}

.mat-spinner {
  margin: 0 auto;
}

.mat-form-field {
  margin-bottom: 8px;
}
