<mat-tab-group headerPosition="below" mat-stretch-tabs>
  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon>home</mat-icon>
    </ng-template>
    <ng-template matTabContent>
      <section id="banner">
        <svg-icon src="../assets/saadawi.svg"></svg-icon>
      </section>
    </ng-template>
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon>person</mat-icon>
    </ng-template>
    <ng-template matTabContent>
      <section id="about">
        <div class="avatar">
          <img src="../assets/avatar.png">
          <div class="overlay"></div>
        </div>
        <div>Hello!</div>
        <div>I'm <strong>Saad</strong>, a passionate gamer and programmer who loves designing and developing games.
        </div>
        <div class="social">
          <a href="https://www.facebook.com/elkhadersa">
            <svg-icon src="../assets/social/facebook.svg"></svg-icon>
          </a>
          <a href="https://www.instagram.com/elsaad007">
            <svg-icon src="../assets/social/instagram.svg"></svg-icon>
          </a>
          <a href="https://www.linkedin.com/in/elkhadersaad">
            <svg-icon src="../assets/social/linkedin.svg"></svg-icon>
          </a>
        </div>

        <mat-chip-list>
          <mat-chip color="primary">
            <a (click)="copy(email)"> {{email}} </a>
          </mat-chip>
        </mat-chip-list>
      </section>
    </ng-template>
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon>games</mat-icon>
    </ng-template>
    <ng-template matTabContent>
      <section id="games" [style.background]="currentGame.style">
        <div class="icons">
          <div class="icon" mat-ripple *ngFor="let game of games" (click)="currentGame = game"
               [class.active]="currentGame == game">
            <a (click)="currentGame = game;">
              <img [src]="'assets/games/'+game.alias+'/icon.png'" [alt]="game.name">
            </a>
          </div>
        </div>
        <app-game [game]="currentGame"></app-game>
      </section>
    </ng-template>
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon>email</mat-icon>
    </ng-template>
    <ng-template matTabContent>
      <section id="contact">
        <app-contact></app-contact>
      </section>
    </ng-template>
  </mat-tab>
</mat-tab-group>


<!--<div class="container">-->
<!--<section id="gallery">-->
<!--<h1>Gallery</h1>-->
<!--<div>I've created multiple artworks using <strong>Adobe Photoshop</strong>. It's a good way to practice graphics-->
<!--editing.-->
<!--Here's some of the pieces I created, you can see my full work on Instagram.-->
<!--</div>-->
<!--<app-gallery></app-gallery>-->
<!--</section>-->
<!--</div>-->





