section {
  font-weight: normal;
  width: 700px;
  margin: auto;
}

#banner {
  width: 200px;
  height: 200px;
  margin: auto;
  /*background: url("~src/assets/saadawi.png") no-repeat center;*/
  /*background-size: contain;*/
  padding: 0;
}

#about {
  animation: scale ease-in-out 1s;
}

#about div {
  font-size: 1.8em;
  text-align: center;
}

.avatar {
  width: 500px;
  height: 400px;
  position: relative;
  overflow: hidden;
  margin: auto auto -64px;
  z-index: -1;
}

.avatar > * {
  position: absolute;
  top: 0;
  left: 0;
}

.avatar img {
  width: 100%;
  padding-top: 32px;
  animation: up ease-in-out 2s;
}

.avatar .overlay {
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  background: linear-gradient(transparent, transparent, #111);
}

.social {
  text-align: center;
  margin: 16px 0;
}

.social a {
  padding: 0 8px;
}

#games {
  margin: 0 auto;
  width: 100%;
}

.icons {
  position: absolute;
  bottom: 0;
  /*right: 0;*/
  left: 50%;
  transform: translateX(-50%);
  /*padding: 200px 0 16px 0;*/
  display: flex;
  justify-content: center;
  align-items: baseline;
  /*background: linear-gradient(transparent, #111);*/
  pointer-events: none;
  z-index: 1;

  padding: 8px 24px;;
  margin: auto;
  background-color: #111;
  border-radius: 24px 24px 0 0;
}

.icon {
  cursor: pointer;
  pointer-events: all;
  text-align: center;
  margin: 4px;
  transition: .5s;
}

.icon.active {
  border-top: 4px solid white;
}

.icon, .icon img {
  width: 72px;
  height: 72px;
  border-radius: 8px;
  background: #222;
}

#gallery div {
  font-size: 1.3em;
}

.mat-chip-list {
  display: block;
  width: 200px;
  margin: auto;
}

.mat-standard-chip{
  background: #222;
  cursor: pointer;
}
