@import '~@angular/material/_theming.scss';

// Include non-theme styles for core.
@include mat-core();

$primary: mat-palette($mat-amber);
$accent: mat-palette($mat-lime, A200, A100, A400);
$theme: mat-dark-theme($primary, $accent);
$custom-typography: mat-typography-config(
  $font-family: 'Raleway, Roboto, monospace',
  $headline: mat-typography-level(32px, 48px, 700),
  $body-1: mat-typography-level(16px, 24px, 500)
);
@include mat-base-typography($custom-typography);
@include angular-material-typography($custom-typography);
@include angular-material-theme($theme);

html, body {
  background: #111;
  color: #eee;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  font-family: Raleway, Roboto, Verdana, Helvetica, sans-serif;
}

h1 {
  text-align: center;
  font-size: 4em;
  font-weight: bolder;
  line-height: 1em;
  width: 400px;
  margin: 32px auto;
}

h1:before, h1:after {
  content: "";
  display: inline-block;
  background-color: #444;
  width: 16px;
  height: 16px;
  margin: auto 16px;
  transform: rotate(45deg);
  vertical-align: middle;
  animation: rotating 5s linear infinite;
}

html::-webkit-scrollbar {
  width: 10px;
  background-color: #181818;
}

html::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #444;
}

img[src=""] {
  display: none;
}

mat-tab-group {
  height: 100vh;
}

.mat-tab-body-wrapper {
  height: 100%;
}

.mat-tab-body-content {
  display: flex;
}

.home{
  position: fixed !important;
  top: 32px;
  left: 32px;
  margin: 16px;
  z-index: 3;
}

.icon {
  //width: 10%;
  //max-width: 100px;
  //min-width: 64px;
  //min-height: 64px;
  background: #333;
  display: flex;
  pointer-events: all;
  margin: 4px 4px;
  border-radius: 24px;
  transition: .2s;
  overflow: hidden;
  font-size: 0;
}

.icon img {
  width: 100%;
  object-fit: cover;
}

.social svg {
  width: 32px;
  fill: #ccc;
}

.fb svg:hover{
  fill: #129af7 !important;
}

.ig svg:hover {
  fill: #e54 !important;
}

.lnk svg:hover {
  fill: #3fc1cc !important;
}

.social a svg {
  fill: #ccc;
  width: 32px;
  transition: .5s;
}

.snack {
  width: auto !important;
  margin: 16px auto !important;
  background: #eee;
  text-align: center !important;
}
#banner svg {
  stroke: #111;
  fill: whitesmoke;
  width: 100px;
  height: 100px;
  transform: rotate(45deg);
  animation: logo ease-in-out 1s alternate infinite;
}

#banner svg:hover {
}

@keyframes logo {
  from {
    stroke-width: 20px;
  }
  to {
    stroke-width: 80px;
  }
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes down {
  from {
    opacity: 0;
    transform: translateY(-64px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes up {
  from {
    transform: translateY(64px);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes scale {
  from {
    opacity: 0;
    transform: scale(0);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

/*@keyframes loadingGradient {
  0% {
    background-position: -30vw 0
  }
  50% {
    background-position: 70vw 0
  }
  51% {
    background-position: -30vw 0
  }
  100% {
    background-position: 70vw 0;
    display: none
  }
}

.loading {
  animation: loadingGradient 15s linear 0s forwards;
  background: linear-gradient(to right, #222 5%, #282828 25%, #222 30%);
  height: 100%;
  width: 100%;
  position: absolute;
  -webkit-backface-visibility: hidden;
  left:0;
  right:0;
  top:0;
  bottom:0;
  transform: scale(3, 1);
}*/


#games{
  margin: 32px;
  animation: up ease-in 1s;
}

.icons {
  display: flex;
  justify-content: center;
  align-items: baseline;
  pointer-events: none;
  z-index: 1;
  flex-flow: wrap;
  padding: 24px 0;
  margin: 32px auto;
  max-width: 700px;
  background: linear-gradient(#181818, #111);
  border-radius: 16px 16px 0 0;
  min-height: 300px;
  align-content: center;
}


.icon, .icon div{
  width: 70px;
  height: 70px;
  transition: .5s;
}

.icon:hover div {
  cursor: pointer;
  filter: grayscale(100%);
  transform: scale(1.1);
}

